.search-bar{
    width: 75%;
    justify-content: center;
}
#rating-dropdown{
    width: 10px;
}
#addMovie{
    display: flex;
    justify-self: center;
    width: 100%;
}
.poster{
    width: 90%;
    height:350px;
    background-color: grey;
    display: flex;
}
.parent {
    justify-content: center;
}